/** @format */

.cell {
  position: relative;
  transform-style: preserve-3d;
  width: 2em;
  height: 2em;
  cursor: pointer;
  transition: 0.3s ease-in-out;

  * {
    transition: 0.3s ease-in-out;
   
  }

  .left,
  .right,
  .front,
  .back {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparentize(white, 0.6);
    box-shadow: 0 0 0.5em #000a inset;
  }
  .front {
    transform: translateZ(0.4em);
    font-size: 0.4em;
    padding: 0.3em;
    box-sizing: border-box;
    text-transform: capitalize;
    font-family: 'Courier New', Courier, monospace;
  }
  .right {
    transform: rotateY(90deg) translateZ(1.6em);
    width: 0.8em;
  }
  .back {
    transform: rotateY(180deg) translateZ(0.4em);
  }
  .left {
    transform: rotateY(270deg) translateZ(0.4em);
    width: 0.8em;
  }

  .top {
    position: absolute;
    width: 2em;
    height: 0.8em;
    background-color: transparentize(white, 0.6);
    transform: translateY(-50%) rotateX(90deg);
    box-shadow: 0 0 0.5em #000a inset;
  }

  .bottom {
    position: absolute;
    width: 2em;
    height: 0.8em;
    background-color: transparentize(white, 0.6);
    bottom: 0px;
    transform: translateY(50%) rotateX(90deg);
    box-shadow: 0 0 0.5em #000a;
  }

  &:hover,
  &.selected {
    transform: scale(1.1);
    .left,
    .top,
    .bottom,
    .right {
      background-color: transparentize(rgb(241, 163, 163), 0.4);
    }
    .front,
    .back {
      background-color: transparentize(rgb(241, 163, 163), 0.4);
    }
  }

  &.selected {
    pointer-events: none;
    .left,
    .top,
    .bottom,
    .right {
      background-color: transparentize(rgb(4, 16, 239), 0.4);
    }
    .front,
    .back {
      background-color: transparentize(rgb(49, 29, 232), 0.4);
    }
  }

  &.mine {
    pointer-events: none;
    .left,
    .top,
    .bottom,
    .right {
      background-color: transparentize(rgb(66, 172, 34), 0.4);
    }
    .front {
      background-color: transparentize(rgb(66, 172, 34), 0.4);
    }
  }
}
