/** @format */
.modal {
  min-width: 200px;
  min-height: 100px;
  position: absolute;
  background-color: black;
  border: solid 0.05em white;
  box-shadow: black 0 0 10px;
  transform: translateZ(0.1em);
}
