/** @format */

* {
  color: white;
  transform-style: preserve-3d;
}
body {
  background-color: #000;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 75px;
  perspective: 20em;
  perspective-origin: 50% calc(50% - 6em);
  overflow: hidden;
  transform-style: preserve-3d;
}

@font-face {
  font-family: title;
  src: url('./fonts/nexa-rust/NexaRustSlab-BlackShadow01.otf');
}

@media (max-width: 1000px) {
  body {
    transform: scale(0.8);
  }
}
form {
  transform: translateZ(0.1em);
}

button {
  position: relative;
  padding: 1em 3em;
  height: 6em;
  width: 14em;
  color: white;
  background: black;
  border: solid 0.1em white;
  outline: none;
  font-family: title;
  transition: 0.3s ease-in-out;
  transform-style: flat;
  cursor: pointer;
  &::after {
    content: attr(content);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: black;
    background: white;
    position: absolute;
    right: 0.2em;
    bottom: 0.2em;
    border: solid 0.3em black;
    font-size: 1.4em;
    transition: 0.3s ease-in-out;
    // pointer-events: none;
  }
  &:hover {
    &::after {
      border: solid 0.1em white;
      background-color: black;
      color: white;
    }
  }
}

input {
  // transform: translateZ(1em);
  font-size: 0.3em;
  color: black;
  font-family: 'title';
  background: white;
  border: solid 0.1em white;
  box-shadow: inset black 0 0 5px;
  padding: 0.5em;
  outline: none;
}
